<div class="container">

  <h2 class="text-center my-5">Demo Angular ngx-indexed-db</h2>

  <div class="row">

    <div class="col-lg-3">

      <h4 class="text-center">Actions</h4>

      <button (click)="service.createStore( )" class="btn btn-primary btn-block my-2">Create Store ({{ STORE_NAME }})</button>

      <button (click)="service.addData( )" class="btn btn-primary btn-block my-2">Add Data to Store</button>

      <button (click)="service.clearStore( )" class="btn btn-primary btn-block my-2">Clear Store</button>

      <button (click)="service.deleteStore( )" class="btn btn-primary btn-block my-2">Delete Store</button>

      <button (click)="service.deleteDb( )" class="btn btn-primary btn-block my-2">Delect DB ({{ DB_NAME }})</button>

    </div>

    <div class="col-lg-9">

      <h4 class="text-center">Store Contents</h4>

      <pre>{{ service.fips$ | async | json }}</pre>

    </div>

  </div>

  <div *ngIf="service.errorMessage"
       class="row my-5">

    <div class="col-lg-8 offset-lg-2">

      <div class="alert alert-danger">{{ service.errorMessage }}</div>

    </div>

  </div>

</div>

